.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .navbar {
    background-color: #f8f9fa;
    border: none;
    border-bottom: 1px solid #d3d3d3;
    border-radius: 0;
    box-shadow: none;
  }
  
  .navbar ul.nav {
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 10px;
    white-space: nowrap;
  }
  
  .navbar ul.nav li {
    margin-right: 10px;
  }
  
  .navbar ul.nav li:last-child {
    margin-right: 0;
  }
  
  .navbar ul.nav li button {
    background-color: #fff;
    border: none;
    border-radius: 3px;
    color: #444;
    cursor: pointer;
    font-weight: 600;
    margin-right: 5px;
    padding: 8px 12px;
    text-align: center;
    transition: all 0.3s ease;
    white-space: nowrap;
  }
  
  .navbar ul.nav li button:hover {
    background-color: #e9ecef;
    color: #444;
  }
  
  